<h1>Editing User</h1>

<div style="padding-left: 350px;padding-right: 350px;">
<div class="card">
  <div class="card-header">
<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>
</div>
</div>
